
@{
    ViewBag.Title = "Login User";
}

<h2>Login User</h2>

@using (Html.BeginForm("LoginUser", "Home", FormMethod.Post))
{
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="Email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="Password">
    </div>
    <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="mb-3">
        <span>New user? @Html.ActionLink("Register here", "Register", "Home")</span>
        <br />
        <span>For admin @Html.ActionLink("Login here", "LoginAdmin", "Home")</span>
        <br />
        <span>@Html.ActionLink("Back", "Index", "Home")</span>
    </div>
    if (TempData["Login User Error"] != null)
    {
        <div class="mb-3">
            <span class="text-danger">@TempData["Login User Error"]</span>
        </div>
    }
}
